body {
	background-color: black;
}

.main {
  background-color: white;
  margin-top: 110px;
  padding-left: 100px;
  min-width: 1200px;
  height: 500px;

}

.logo {
background-image: url('../images/logo.jpg');
width: 621px;
height: 300px;
float: right;
margin-right: 128px;
margin-top: 45px;
  /*display: inline-block;*/
}

.instructions {
  width: 621px;
height: 300px;
float: right;
margin-right: 128px;
margin-top: 45px;
font-size: 32px;
}

.ryu-ready, .ryu-still, .ryu-throwing , .ryu-cool{
  width: 659px;
  height: 494px;
}

.ryu-throwing, .ryu-ready, .ryu-cool {
	display: none;
} 

.ryu-ready {
  background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
  background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
  background-image: url('../images/ryu-throwing-hadouken.png');
}
.ryu-cool{
  background-image: url('../images/ryu-cool.gif');
}

.hadouken {
   background-image: url('../images/hadouken.gif');
width: 156px;
height: 90px;
 display: none; 
position: relative;
top: 167px;
left: 520px;
float: left;
}


